section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
            div.small-btn
                p -50%
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
            div.small-btn
                p -50%
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
            div.small-btn
                p -50%
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
section.katalog-cards-section
    div.katalog-cards-section-items__title
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart 
        div.katalog-cards-title__subtitle
            img(src="../../../img/Knife/01s 1.png", alt="")
            h3 Нож Лиса
            div.katalog-cards-subtitle__title
                p 95х18
                p Орех, Алюминий
            div.katalog-cards-subtitle__title
                div 
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                    i.bi.bi-star-fill
                p 12 отзывов
            hr
            div.katalog-cards-subtitle__title
                h3 2 719 р.
                div 
                    img.img-group(src="../../../img/Stars/Group.png", alt="")
                    i.bi.bi-heart
div.katalog-items-section
    button Показать больше
    div.katalog-items-section__title
        i.bi.bi-chevron-left
        h4 1
        h4 2
        h4 3
        h4 ...
        h4 15
        i.bi.bi-chevron-right