section.section-fifty
            div.section-fifty
                h1 Наши статьи 
                div.fifty-gridd
                    div.fifty-div.fifty-first
                        img(src="../img/fifty-img/Rectangle 42.png", alt="")
                        div.fifty-div-info
                            h2 Все о ножах: как правильно <br> выбрать
                            p 24.07.2019
                    div.fifty-div.fifty-second
                        img(src="../img/fifty-img/Rectangle 43.png", alt="")
                        div.fifty-div-info
                            h2 Как правильно выбрать<br> фонарь
                            p 24.07.2019
                    div.fifty-div.fifty-third
                        img(src="../img/fifty-img/Rectangle 44.png", alt="")
                        div.fifty-div-info
                            h2 Кухонные ножи для хозяек
                            p 24.07.2019
                    div.fifty-div.fifty-fourth
                        img(src="../img/fifty-img/Rectangle 45.png", alt="")
                        div.fifty-div-info
                            h2 Кухонные ножи для хозяек
                            p 24.07.2019
            div.fifty-torch-grid
                div.fifty-torch-first
                    div 
                        h2 Тактические фонарь
                        div 
                        p Lorem ipsum dolor sit amet<br> consectetur adipisicing elit.
                        button Подробнее
                    
                    img(src="../img/fifty-img/351 1.png", alt="")
                div.fifty-torch-second
                    div 
                        h2 Палобные мультифонари
                        div 
                        p Lorem ipsum dolor sit amet<br> consectetur adipisicing elit.
                        button Подробнее
                    
                    img(src="../img/fifty-img/fish_fonar 1.png", alt="")