// *+++++++++++++++ Text Color +++++++++++++++
$f-white-clr: #fff;
$yellow-clr-t: #E8AA31;
$black-0-clr: #000;
$grey-Grey-clr: #ABABAB;
$rubl-sena-black-t: #141414;

// *+++++++++++++++ Font's +++++++++++++++
$Montserrat-Font: Montserrat,sans-serif;
