@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding-top: 100px;
  padding-bottom: 100px;
}

.navbar__top__item {
  background-color: black;
  width: 100%;
}
.navbar__top__item .nav__items__item__link {
  padding: 16px;
}
.navbar__top__item .nav__items__item__link:hover {
  color: rgb(255, 221, 1);
}
.navbar__top__item .navbar__items {
  width: -moz-max-content;
  width: max-content;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__top__item .navbar__items a {
  text-decoration: none;
  color: aliceblue;
}
.navbar__top__item .nav__items__item__avatar {
  align-items: start;
  display: flex;
  justify-content: end;
}

.zlatmax__header {
  padding: 20px;
}
.zlatmax__header .zlatmax__header__img {
  padding-right: 20px;
  padding: 2px;
}

.zlatmax__header__search {
  width: 300px;
  height: 40px;
}

.KnifeGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  row-gap: 20px;
}
.KnifeGrid .KnifeGrid__Card {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card:hover {
  transform: scale(1.02);
}
.KnifeGrid .KnifeGrid__Card2:hover {
  transform: scale(1.02);
}
.KnifeGrid .KnifeGrid__Card3:hover {
  transform: scale(1.02);
}
.KnifeGrid .KnifeGrid__Card4:hover {
  transform: scale(1.02);
}
.KnifeGrid .KnifeGrid__Card5:hover {
  transform: scale(1.02);
}
.KnifeGrid .KnifeGrid__Card6:hover {
  transform: scale(1.02);
}
.KnifeGrid .KnifeGrid__Card2 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card3 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card4 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card5 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card6 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}

.cards-section {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.cards-section .cards-section__items {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}
.cards-section .cards-section__items .cards-section-items__subtitle {
  width: 94%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-section .cards-section__items .cards-section-items__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-section .cards-section__items .cards-section-items__title p {
  letter-spacing: 1px;
}
.cards-section .cards-section__items .cards-section-items__title i {
  color: #E8AA31;
}
.cards-section .cards-section__items .cards-section-items__title-cards {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 20px;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle {
  width: 270px;
  height: -moz-max-content;
  height: max-content;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .img-knife {
  width: 250px;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle h3 {
  font-size: 20px;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .title-cards__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .title-cards__title p {
  color: #ABABAB;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .title-cards__title i {
  font-size: 25px;
  color: #E8AA31;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .title-cards__title img {
  width: 23px;
  height: 23px;
  padding: 0 10px;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .cards-section-items__btn-card {
  width: 100%;
  height: 40px;
  background-color: #E8AA31;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}
.cards-section .cards-section__items .cards-section-items__title-cards .title-cards__subtitle .cards-section-items__btn-card p {
  padding: 0 10px;
}

.second-cards-section {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-image: url(../../../img/headir/pag-1Back.png);
  background-size: cover;
}
.second-cards-section .second-cards-section__items {
  width: 95%;
  margin: 0 auto;
  padding: 50px 0;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title {
  width: 270px;
  height: 600px;
  color: #fff;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title h2, .second-cards-section .second-cards-section__items .second-cards-section-items__title p {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  opacity: 70%;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title h2 {
  opacity: 100%;
  font-size: 30px;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title .title-cards__title {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #E8AA31;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title .title-cards__title p {
  opacity: 100%;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 20px;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle {
  width: 270px;
  height: -moz-max-content;
  height: max-content;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .img-knife {
  width: 250px;
  height: 180px;
  -o-object-fit: contain;
     object-fit: contain;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle h3 {
  font-size: 20px;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .title-cards__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .title-cards__title p {
  color: #ABABAB;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .title-cards__title i {
  font-size: 25px;
  color: #E8AA31;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .title-cards__title img {
  width: 23px;
  height: 23px;
  padding: 0 10px;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .second-cards-section-items__btn-card {
  width: 100%;
  height: 40px;
  background-color: #E8AA31;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
}
.second-cards-section .second-cards-section__items .second-cards-section-items__title-cards .title-cards__subtitle .second-cards-section-items__btn-card p {
  padding: 0 10px;
}

.product {
  width: 100%;
  max-height: -moz-max-content;
  max-height: max-content;
}
.product .product-section {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: 15px 0 15px 90px;
}
.product .product__item {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 50px;
}
.product .product__item .product__item-img {
  width: 650px;
}
.product .product__item .product__item-img .img-1 {
  width: 650px;
}
.product .product__item .product__item-img .img-2 {
  width: 152.5px;
  margin: 10px 13px 0 0;
  height: 180px;
}
.product .product__item .product__item-img .img-3 {
  width: 152.5px;
  margin: 10px 0 0 0;
  height: 180px;
}
.product .product__item .product__item-content {
  width: 620px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.product .product__item .product__item-content .product__item-content__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px 0;
}
.product .product__item .product__item-content .product__item-content__title .product__item-content__title__icons {
  padding-right: 150px;
}
.product .product__item .product__item-content .product__item-content__paragraf p {
  margin: 0 0 30px 30px;
  color: rgb(28, 202, 28);
}
.product .product__item .product__item-content .product__item-content__grid {
  display: grid;
  grid-template-columns: auto auto;
}
.product .product__item .product__item-content .product__item-content__grid .product__item-content__grid-item {
  margin: 10px 20px;
}
.product .product__item .product__item-content .product__item-content__grid .product__item-content__grid-item p {
  margin: 10px;
}
.product .product__item .product__item-content .product__item-content__grid .product__item-content__grid-content {
  color: rgb(153, 151, 151);
  margin: 10px 20px;
}
.product .product__item .product__item-content .product__item-content__grid .product__item-content__grid-content p {
  margin: 10px;
}
.product .product__item .product__item-content .product__item-content__flex {
  display: flex;
}
.product .product__item .product__item-content .product__item-content__flex .product__item-content__flex-first {
  margin: 30px 0 0 30px;
}
.product .product__item .product__item-content .product__item-content__flex .product__item-content__flex-first p {
  margin: 30px 0;
}
.product .product__item .product__item-content .product__item-content__flex .product__item-content__flex-second {
  margin: 43px 0 0 20px;
}
.product .product__item .product__item-content .product__item-content__flex .product__item-content__flex-second input {
  margin: 12px 0;
  width: 400px;
  height: 20px;
}
.product .product__item .product__item-content .product__item-content__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .product__item .product__item-content .product__item-content__block h1 {
  margin: 0 0 0 30px;
}
.product .product__item .product__item-content .product__item-content__block img {
  padding-right: 220px;
}
.product .product__item .product__item-content .product__item-content__block p {
  color: rgb(147, 146, 146);
  margin: 0 25px;
}
.product .product__item .product__item-content .product__item-content__button {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  text-align: center;
  margin: 40px 0;
}
.product .product__item .product__item-content .product__item-content__button .product__item-content__button-first button {
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  font-size: 30px;
}
.product .product__item .product__item-content .product__item-content__button .product__item-content__button-four button {
  background-color: orange;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
}
.product .product__item .product__item-content .product__item-content__button .product__item-content__button-five button {
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
}

.product-info {
  width: 87%;
  max-height: -moz-max-content;
  max-height: max-content;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  margin: 100px;
}
.product-info .product-info__tabs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 500px;
  text-align: center;
}
.product-info .product-info__tabs .product-info__tabs-color {
  color: rgb(151, 148, 148);
}
.product-info .product-info__paragraf {
  margin: 20px;
}

@media only screen and (max-width: 1091px) {
  .KnifeGrid {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 748px) {
  .KnifeGrid {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .title-cards__subtitle {
    width: 210px !important;
    font-size: 10px;
  }
  .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
  .bi-star-fill {
    font-size: 15px !important;
  }
  .second-cards-section-items__title {
    width: 210px !important;
  }
  .title-cards__subtitle {
    width: 210px !important;
    font-size: 10px;
  }
  .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
}
@media only screen and (max-width: 991px) {
  .cards-section-items__title-cards {
    grid-template-columns: auto auto auto !important;
    grid-template-rows: auto !important;
  }
  .second-cards-section-items__title-cards {
    grid-template-columns: auto auto auto !important;
    grid-template-rows: auto !important;
    height: 1050px !important;
  }
}
@media only screen and (max-width: 767px) {
  .cards-section-items__title-cards {
    grid-template-columns: auto auto !important;
    grid-template-rows: auto !important;
  }
  .second-cards-section-items__title-cards {
    grid-template-columns: auto auto !important;
    grid-template-rows: auto !important;
  }
}
@media only screen and (max-width: 551px) {
  .cards-section-items__title-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
  }
  .cards-section-items__title-cards .title-cards__subtitle {
    width: 350px !important;
    font-size: 10px;
  }
  .cards-section-items__title-cards .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
  .second-cards-section-items__title-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
    height: 1980px !important;
  }
  .second-cards-section-items__title-cards .second-cards-section-items__title {
    width: 350px !important;
  }
  .second-cards-section-items__title-cards .title-cards__subtitle {
    width: 350px !important;
    font-size: 10px;
  }
  .second-cards-section-items__title-cards .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
}
@media only screen and (max-width: 551px) {
  .cards-section-items__title-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
  }
  .cards-section-items__title-cards .title-cards__subtitle {
    width: 350px !important;
    font-size: 10px;
  }
  .cards-section-items__title-cards .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
  .second-cards-section-items__title-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
    height: 1980px !important;
  }
  .second-cards-section-items__title-cards .second-cards-section-items__title {
    width: 350px !important;
  }
  .second-cards-section-items__title-cards .title-cards__subtitle {
    width: 350px !important;
    font-size: 10px;
  }
  .second-cards-section-items__title-cards .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
}
@media only screen and (max-width: 400px) {
  .cards-section-items__title-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
  }
  .cards-section-items__title-cards .title-cards__subtitle {
    width: 300px !important;
    font-size: 10px;
  }
  .cards-section-items__title-cards .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
  .second-cards-section-items__title-cards {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
    height: 1980px !important;
  }
  .second-cards-section-items__title-cards .second-cards-section-items__title {
    width: 300px !important;
  }
  .second-cards-section-items__title-cards .title-cards__subtitle {
    width: 300px !important;
    font-size: 10px;
  }
  .second-cards-section-items__title-cards .title-cards__subtitle .img-knife {
    width: 100% !important;
    height: 150px !important;
  }
}/*# sourceMappingURL=main.css.map */