@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding-top: 100px;
  padding-bottom: 100px;
}

.KnifeGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  row-gap: 20px;
}
.KnifeGrid .KnifeGrid__Card {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card:hover {
  margin-top: -10px;
}
.KnifeGrid .KnifeGrid__Card2:hover {
  margin-top: -10px;
}
.KnifeGrid .KnifeGrid__Card3:hover {
  margin-top: -10px;
}
.KnifeGrid .KnifeGrid__Card4:hover {
  margin-top: -10px;
}
.KnifeGrid .KnifeGrid__Card5:hover {
  margin-top: -10px;
}
.KnifeGrid .KnifeGrid__Card6:hover {
  margin-top: -10px;
}
.KnifeGrid .KnifeGrid__Card2 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card2 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card3 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card3 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card4 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card4 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card5 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card5 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}
.KnifeGrid .KnifeGrid__Card6 {
  width: 351px;
  height: 203px;
  background-image: url(../img/Knife/knife-6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text {
  padding: 20px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text a {
  text-decoration: none;
  color: #141414;
  font-weight: bold;
  font-size: 23px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__line {
  width: 70px;
  height: 2px;
  margin-top: 10px;
  background-color: #E8AA31;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy {
  list-style: none;
  margin-left: -37px;
  margin-top: 30px;
  width: 170px;
}
.KnifeGrid .KnifeGrid__Card6 .KnifeGrid-Card__Text .KnifeGrid-Card-Text__Kategoriy li::before {
  content: "●";
  color: #E8AA31;
  font-weight: 900;
  display: inline-block;
  width: 1em;
}

.KnifeNext {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px 0;
}
.KnifeNext .KnifeNext__Second {
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #141414;
  padding-left: 10%;
}
.KnifeNext .KnifeNext__Go {
  text-align: right;
  margin-right: 10%;
  color: #ABABAB;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.KnifeThree {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
}
.KnifeThree .KnifeThree__Card {
  width: 265px;
  height: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation-name: oneAndone;
  animation-duration: 2s;
}
.KnifeThree .KnifeThree__Card:hover {
  transform: scale(1.02);
}

.product {
  width: 86%;
  height: -moz-max-content;
  height: max-content;
  padding: 0 100px 0 100px;
}
.product .product-section {
  width: 500px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
}
.product .product__item {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
}
.product .product__item .product__item-img {
  width: 650px;
}
.product .product__item .product__item-img .img-1 {
  width: 650px;
}
.product .product__item .product__item-img .img-2 {
  width: 152.5px;
  margin: 10px 13px 0 0;
}
.product .product__item .product__item-img .img-3 {
  width: 152.5px;
  margin: 10px 0 0 0;
}
.product .product__item .product__item-content {
  width: 620px;
  border: 1px solid red;
}
.product .product__item .product__item-content .product__item-content__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product .product__item .product__item-content .product__item-content__title .product__item-content__title__icons {
  padding-right: 150px;
}
.product .product__item .product__item-content .product__item-content__paragraf p {
  margin: 0 0 0 20px;
  color: rgb(28, 202, 28);
}
.product .product__item .product__item-content .product__item-content__grid {
  display: grid;
  grid-template-columns: auto auto;
}
.product .product__item .product__item-content .product__item-content__grid .product__item-content__grid-item {
  margin-left: 20px;
}
.product .product__item .product__item-content .product__item-content__grid .product__item-content__grid-content {
  margin-right: 150px;
  color: rgb(153, 151, 151);
}
.product .product__item .product__item-content .product__item-content__flex {
  display: flex;
}

@media only screen and (max-width: 1142px) {
  .KnifeThree {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 1091px) {
  .KnifeGrid {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 865px) {
  .KnifeThree {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 748px) {
  .KnifeGrid {
    grid-template-columns: auto;
  }
  .KnifeNext__Go {
    display: none;
  }
}
@media only screen and (max-width: 584px) {
  .KnifeThree {
    grid-template-columns: auto;
  }
}/*# sourceMappingURL=main.css.map */