.KnifeGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 20px;
    .KnifeGrid__Card{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
    .KnifeGrid__Card:hover{
        margin-top: -10px;
    }
}
