.footercontainer{
    width: 100%;
    height: 331px;
    background: #141414;
    background-image: url("https://s3-alpha-sig.figma.com/img/0f21/f7e8/6a4db1578d6ecbebdda2ecde78b23e9c?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h0HNAIsrYL4n-ujiWRm9ZgMvJt8777Ln1hZHq2-UP7Etmc4CthdKOKPB4q8rTSeRFj90UW3t8hQu~cTcWBj45-yUIAlsqIm5ch2U17J0Lx-339-2tvSB~1tmOHRmLYaTKJ~W3NEY4qDImdR1kC1YsRrO81z~5zt9276r6mgnw7OPqnruHiyZ5-sW8n2ztnZVKtpg4morOYVSmHuM5bd72MwcVjw4heRmqdgwk5TavjZjH8vD8A6wmyAVQOyfrdi3KfeRbHn2HbPPszgMH5IZwZba1r5JXoJREGOIMHmCtOd-ssPmNbW2PW8CHgdNGmJqs34Th0sKo0NAwKRfbHMfjw__");
    }
    .chevar{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #E8AA31;
    }
    .paragraf{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    padding-bottom: 100px;
    
    
    
    
    }
    .beshbarmoq{
     width: 100%;
     height: 1071px; 
     background:#141414;
     color: #FFFFFF;
    }
    .a{
        width: 234px;
        height: 358px;
        top: 10329px;
        left: 165px;
        gap: 0px;
        opacity: 0px;
        
    } 
    .b{
    width: 238px;
    height: 158px;
    top: 10329px;
    left: 532px;
    gap: 0px;
    opacity: 0px;
    
    } 
    .c{
    width: 254px;
    height: 158px;
    top: 10329px;
    left: 922px;
    gap: 0px;
    opacity: 0px;
    
    }
    .d{
    width: 188px;
    height: 200px;
    top: 10329px;
    left: 1361px;
    gap: 0px;
    opacity: 0px;
    
    }
    .Hh{
        
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 100px 0;
    }
    .e{
    width: 160px;
    height: 22px;
    top: 10805px;
    left: 198px;
    gap: 0px;
    opacity: 0px;
    
    }
    .f{
    width: 269px;
    height: 74px;
    top: 10752px;
    left: 532px;
    gap: 0px;
    opacity: 0px;
    
    
    
    }
    .g{
    width: 318px;
    height: 160px;
    top: 10752px;
    left: 922px;
    gap: 0px;
    opacity: 0px;
    
     }
    .h{
    width: 379px;
    height: 201px;
    top: 10747px;
    left: 1361px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
    }
    .Ss{
    width: 229px;
    height: 43.21px;
    top: 11064px;
    left: 165px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
    
    }
    
    .j{
   
    
    }
    
    .fc{
    width: 41.77px;
    height: 43.21px;
    top: 11064px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
        
    }
    .tel{
    width: 40.33px;
    height: 40.33px;
    top: 11065.44px;
    left: 228.37px;
    gap: 0px;
    opacity: 0px;
        
        }
    .telegram{
    width: 38.89px;
    height: 40.33px;
    top: 11065.44px;
    left: 290.3px;
    gap: 0px;
    opacity: 0px;
    
    }
    .whatsapp{
    width: 43.21px;
    height: 43.21px;
    top: 11064px;
    left: 350.79px;
    gap: 0px;
    opacity: 0px;
    
    }
    .bce{
    display: grid;
    grid-template-columns: auto auto ;
        
           
    }
    .bce{
    width: 817px;
    height: 81px;
    top: 11168px;
    left: 165px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    color: #FFFFFFCC;
    
    
    }
    .sl{
    width: 299px;
    height: 27px;
    top: 11175px;
    left: 1441px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;
    
    }
    
    