.product {
    width: 100%;
    max-height: max-content;
    .product-section {
        @include grid-five-col;
        width: 600px;
        justify-content: center;
        gap: 20px;
    }
    .product__item{
        @include grid-two-col;
        justify-content: center;
        gap: 50px;
        .product__item-img{
            width: 650px;
            .img-1{
                width: 650px;
            }
            .img-2{
                width: 152.5px;
                margin: 10px 13px 0 0;
                height: 180px;
            }
            .img-3{
                width: 152.5px;
                margin: 10px 0 0 0;
                height: 180px;
            }
        }
        .product__item-content{
            width:620px;
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
            .product__item-content__title{
                @include flex-between;
                margin: 20px 30px 0 ;
                .product__item-content__title__icons {
                    padding-right: 150px;
                }
            }
            .product__item-content__paragraf {
                p{
                    margin: 0 0 30px 30px;
                    color: rgb(28, 202, 28);
                }
            }
            .product__item-content__grid {
                @include grid-two-col;
                .product__item-content__grid-item{
                    margin: 10px 20px;     
                    p{
                        margin: 10px;
                    }               
                }
                .product__item-content__grid-content{
                    color: rgb(153, 151, 151);
                    margin: 10px 20px;   
                    p{
                        margin: 10px;
                    }   
                }
            }
            .product__item-content__flex {
                display: flex;
                .product__item-content__flex-first {
                    margin: 30px 0 0 30px;
                    p{
                        margin: 30px 0;
                    }
                }
                .product__item-content__flex-second{
                    margin: 43px 0 0 20px;
                    input{
                        margin: 12px 0;
                        width: 400px;
                        height: 20px;
                    }
                }
            }
            .product__item-content__block{
                @include flex-between;
                h1{
                    margin: 0 0 0 30px;
                }
                img{
                    padding-right: 220px;
                }
                p{
                    color: rgb(147, 146, 146);
                    margin: 0 25px;
                }
            }
            .product__item-content__button {
                @include grid-five-col;
                margin: 40px 0;
                .product__item-content__button-first{
                    button{
                        background-color: black;
                        color: white;
                        width: 40px;
                        height: 40px;
                        font-size: 30px;
                    }
                }
                .product__item-content__button-second{
                    p{
                        font-size: 25px;
                        margin: 0;
                    }
                }
                .product__item-content__button-four{
                    button{
                        background-color: orange;
                        color: white;
                        border: none;
                        width: 150px;
                        height: 40px;
                    }
                }
                .product__item-content__button-five{
                    button{
                        background-color: black;
                        color: white;
                        width: 150px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
.product-info{
    width: 87%;
    max-height: max-content;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    margin: 100px;
    .product-info__tabs{
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 500px;
        text-align: center;
        .product-info__tabs-color{
            color: rgb(151, 148, 148);
        }
    }
    .product-info__paragraf {
        margin: 20px;
    }
}

.cards-section{
    width: 100%;
    height: max-content;
    .cards-section__items{
        width: 95%;
        margin: 0 auto;
        padding: 50px 0;
        .cards-section-items__subtitle{
            width: 94%;
            margin: 0 auto;
            box-sizing: border-box;
            @include flex-between;
        }
        .cards-section-items__title{
            @include flex-center;
            p{
                letter-spacing: 1px;
            }
            i{
                color: $yellow-clr-t;
            }
        }
    .cards-section-items__title-cards{
        width: 100%;
        height: max-content;
        margin: 0 auto;
        @include grid-four-col;
        .title-cards__subtitle{
            width: 270px;
            height: max-content;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .img-knife{
                width: 250px;
                height: 180px;
                object-fit: contain;
            }
            h3{
                font-size: 20px
            }
            .title-cards__title{
                @include flex-between;
                p{
                    color: $grey-Grey-clr;
                }
                i{
                    font-size: 25px;
                    color: $yellow-clr-t;
                }
                img{
                    width: 23px;
                    height: 23px;
                    padding:0 10px;
                }
            }
            .cards-section-items__btn-card{
                width: 100%;
                height: 40px;
                background-color: $yellow-clr-t;
                @include flex-center;
                border-radius: 3px;
                color: $f-white-clr;
                font-weight: 600;
                p{
                    padding: 0 10px;
                }
            }
        }
    }
    }
}
.second-cards-section{
    width: 100%;
    height: max-content;
    background-image: url(../../../img/headir/pag-1Back.png);
    background-size: cover;
    .second-cards-section__items{
        width: 95%;
        margin: 0 auto;
        padding: 50px 0;
        .second-cards-section-items__title{
            width: 270px;
            height: 600px;
            color: $f-white-clr;
            h2, p{
                font-size: 18px;
                line-height: 1.5;
                letter-spacing: 1px;
                opacity: 70%;
            }
            h2{
                opacity: 100%;
                font-size: 30px;
            }
            .title-cards__title{
                @include flex-start;
                color: $yellow-clr-t;
                p{
                    opacity: 100%;
                }
            }
        }
    .second-cards-section-items__title-cards{
        width: 100%;
        height: 600px;
        margin: 0 auto;
        @include grid-four-col;
        .title-cards__subtitle{
            width: 270px;
            height: max-content;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: white;
            .img-knife{
                width: 250px;
                height: 180px;
                object-fit: contain;
            }
            h3{
                font-size: 20px
            }
            .title-cards__title{
                @include flex-between;
                p{
                    color: $grey-Grey-clr;
                }
                i{
                    font-size: 25px;
                    color: $yellow-clr-t;
                }
                img{
                    width: 23px;
                    height: 23px;
                    padding:0 10px;
                }
            }
            .second-cards-section-items__btn-card{
                width: 100%;
                height: 40px;
                background-color: $yellow-clr-t;
                @include flex-center;
                border-radius: 3px;
                color: $f-white-clr;
                font-weight: 600;
                p{
                    padding: 0 10px;
                }
            }
        }
    }
    }
}
