.product {
    width: 100%;
    max-height: max-content;
    .product-section {
        width: 500px;
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
        align-items: center;
        text-align: center;
        margin: 15px 0 15px 90px;
    }
    .product__item{
        @include grid-two-col;
        gap: 50px;
        justify-content: center;
        .product__item-img{
            width: 650px;
            .img-1{
                width: 650px;
            }
            .img-2{
                width: 152.5px;
                margin: 10px 13px 0 0;
            }
            .img-3{
                width: 152.5px;
                margin: 10px 0 0 0;
            }
        }
        .product__item-content{
            width:620px;
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
            .product__item-content__title{
                @include flex-between;
                margin: 20px 30px 0 ;
                .product__item-content__title__icons {
                    padding-right: 150px;
                }
            }
            .product__item-content__paragraf {
                p{
                    margin: 0 0 30px 30px;
                    color: rgb(28, 202, 28);
                }
            }
            .product__item-content__grid {
                @include grid-two-col;
                .product__item-content__grid-item{
                    margin: 10px 20px;     
                    p{
                        margin: 10px;
                    }               
                }
                .product__item-content__grid-content{
                    color: rgb(153, 151, 151);
                    margin: 10px 20px;   
                    p{
                        margin: 10px;
                    }   
                }
            }
            .product__item-content__flex {
                display: flex;
                justify-content: center;
            }
        }
    }
}