.product {
    width: 86%;
    height: max-content;
    padding: 0 100px 0 100px;
    .product-section {
        width: 500px;
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
        align-items: center;
    }
    .product__item{
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        .product__item-img{
            width: 650px;
            .img-1{
                width: 650px;
            }
            .img-2{
                width: 152.5px;
                margin: 10px 13px 0 0;
            }
            .img-3{
                width: 152.5px;
                margin: 10px 0 0 0;
            }
        }
        .product__item-content{
            width:620px;
            border: 1px solid red;
            .product__item-content__title{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .product__item-content__title__icons {
                    padding-right: 150px;
                }
            }
            .product__item-content__paragraf {
                p{
                    margin: 0 0 0 20px;
                    color: rgb(28, 202, 28);
                }
            }
            .product__item-content__grid {
                display: grid;
                grid-template-columns: auto auto;
                .product__item-content__grid-item{
                    margin-left: 20px;
                    
                }
                .product__item-content__grid-content{
                    margin-right: 150px;
                    color: rgb(153, 151, 151);
                }
            }
            .product__item-content__flex {
                display: flex;
            }
        }
    }
}