.KnifeGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 20px;
    .KnifeGrid__Card{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-1.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
    .KnifeGrid__Card:hover{
        transform: scale(1.02);
    }.KnifeGrid__Card2:hover{
        transform: scale(1.02);
    }.KnifeGrid__Card3:hover{
        transform: scale(1.02);
    }.KnifeGrid__Card4:hover{
        transform: scale(1.02);
    }.KnifeGrid__Card5:hover{
        transform: scale(1.02);
    }.KnifeGrid__Card6:hover{
        transform: scale(1.02);
    }
    .KnifeGrid__Card2{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
    .KnifeGrid__Card3{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-3.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
    .KnifeGrid__Card4{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-4.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
    .KnifeGrid__Card5{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-5.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
    .KnifeGrid__Card6{
        width: 351px;
        height: 203px;
        background-image: url(../img/Knife/knife-6.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .KnifeGrid-Card__Text{
            padding: 20px;
            a{
                text-decoration: none;
                color: $rubl-sena-black-t;
                font-weight: bold;
                font-size: 23px;
            }
            .KnifeGrid-Card-Text__line{
                width: 70px;
                height: 2px;
                margin-top: 10px;
                background-color: $yellow-clr-t;
            }
            .KnifeGrid-Card-Text__Kategoriy{
                list-style: none;
                margin-left: -37px;
                margin-top: 30px;
                width: 170px;
                li::before{
                    content: "●";
                    // content: "\2022";
                    color: $yellow-clr-t;
                    font-weight: 900;
                    display: inline-block;
                    // margin-left: -1em;
                    width: 1em;
                }
            }
        }
    }
}
.KnifeNext{
    // width: 100%;
    // height: max-content;
    display: grid;
    grid-template-columns: auto auto;
    padding: 30px 0;
    .KnifeNext__Second{
        font-weight: 700;
        font-size: 30px;    
        text-decoration: none;
        color: $rubl-sena-black-t;
        // padding-left: 50px;
        padding-left: 10%;
    }
    .KnifeNext__Go{
        // margin-left: 50%;
        text-align: right;
        margin-right: 10%;
        color: $grey-Grey-clr;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }
}
.KnifeThree{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 20px;
    padding: 100px;
    .KnifeThree__Card {
        width: 265px;
        height: 540px;
        // padding-bottom: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        animation-name: oneAndone;
        animation-duration: 2s;
        .KnifeThree-Card__KNFimg{
            width: 100%;
            height: 210px;
            background-image: url(../img/Knife/1s-0.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
        .KnifeThree-Card__KNFname{
            padding-left: 30px;
        }
        .KnifeThree-Card__Between{
            display: flex;
            justify-content: space-around;
            h5{
                color: $grey-Grey-clr;
            }
        }
        .KnifeThree-Card__BetweenStar{
            display: flex;
            justify-content: space-around;
            div{
                margin-top: 20px;
            }
            h5{
                //empty
            }
        }
        .KnifeThree-Card__horizon{
            width: 225px;
            height: 1px;
            background-color: $grey-Grey-clr;
        }
        .KnifeThree-Card__money{
            display: flex;
            justify-content: space-around;
            img{
                width: 20px;
                height: 20px;
            }
            div{
                margin-top: 20px;
                img{
                    margin-left: 10px;
                }
            }
        }
        .KnifeThree-Card__btn{
            border: none;
            background-color: $yellow-clr-t;
            color: $f-white-clr;
            width: 240px;
            height: 40px;
            border-radius: 3px;
            margin-left: 12px;
            font-size: 16px;
            cursor: pointer;
            .KnifeThree-Card-btn_sell{
                margin-left: 20px;
            }
        }
        .KnifeThree-Card__btn:hover{
            background-color: #e8ab31e0;
        }
    }
    .KnifeThree__Card:hover{
        transform: scale(1.02);
    }
}