@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
@mixin flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-start{
    display: flex;
    justify-content: start;
    align-items: center;
}
@mixin flex-between-gap{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}