@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-start{
    display: flex;
    justify-content: start;
    align-items: center;
}