@mixin grid-four-col{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 20px;
}
// Two Grid Elements
@mixin grid-two-col{
    display: grid;
    grid-template-columns: auto auto;
}
@mixin grid-five-col{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    align-items: center;
    text-align: center;
}
<<<<<<< HEAD
@mixin grid-three-col{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: space-between;
    gap: 20px;
=======
// Three Grid Elements
@mixin grid-three-col{
    display: grid;
    grid-template-columns: auto auto auto;
}
// Four Grid Elements
@mixin grid-4-col{
    display: grid;
    grid-template-columns: auto auto auto auto;
>>>>>>> e1c51fe870432060f41ca99f805b3a57210300cc
}