@mixin grid-four-col{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    gap: 20px;
}
@mixin grid-two-col{
    display: grid;
    grid-template-columns: auto auto;
}
@mixin grid-five-col{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    align-items: center;
    text-align: center;
}
@mixin grid-three-col{
    display: grid;
    grid-template-columns: auto auto auto ;
    justify-content: space-between;
    gap: 20px;
}