doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ножи Златоуст – Купить качественные Златоустовские ...

        // * =============== STYLE ===============
        link(rel="stylesheet", href="../scss/main.css")

        // * =============== ICON ===============
        link(rel="icon", href="https://www.zlatmax.ru/favicon.svg")

        // * =============== Montserrat FONT ===============
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
        
    body 
        // * =============== Section-1 Nodir's ===============

        // * =============== Section-2 Jasur's ===============
        .container
            div.KnifeGrid
                div.KnifeGrid__Card
                    div.KnifeGrid-Card__Text
                        a(href="") Каталог ножей
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card
                div.KnifeGrid__Card
                div.KnifeGrid__Card
                div.KnifeGrid__Card
                div.KnifeGrid__Card
        // * =============== Section-3 ===============

        // * =============== Section-4 ===============

        // * =============== Section-5 ===============

        // * =============== Section-6 ===============

        // * =============== Section-7 ===============

        // * =============== Section-8 ===============

        // * =============== Section-9 ===============

        // * =============== Section-10 ==============

        