doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ножи Златоуст – Купить качественные Златоустовские ...

        // * =============== STYLE ===============
        link(rel="stylesheet", href="../scss/main.css")

        // * =============== favicon ===============
        link(rel="icon", href="https://www.zlatmax.ru/favicon.svg")

        // * =============== Bootstrap ===============
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")

        // * =============== Bootstrap Icon ===============
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css")

        // * =============== Montserrat FONT ===============
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
            
    body 
        // * =============== Section-1 Nodir's ===============
        section.navbar__top__item
                ul.navbar__items
                    li.nav__items__item
                        a.nav__items__item__link(href='#') O нас
                    li.nav__items__item
                        a.nav__items__item__link(href='#') Оплата и доставка
                    li.nav__items__item
                        a.nav__items__item__link(href='#') Новости
                    li.nav__items__item
                        a.nav__items__item__link(href='#') Контакты
                    li.nav__items__item
                        .nav__items__item__avatar
                            img.avatar(src="../img/headir/avatar.png", alt="")
                            a.nav__items__item__link(href='#') Личный кабинет
        .zlatmax__navbar
            .zlatmax__navbar__card
                img.zlatmax__navbar__img(src="../img/headir/logo.png", alt="")
            .zlatmax__navbar__card
                input.zlatmax__navbar__search(type="search", name="search", placeholder="Search", autocomplete="off")
            .zlatmax__navbar__card 
                img.location(src="../img/headir/location.png", alt="")
            .zlatmax__navbar__card
                img.savat(src="../img/headir/savat.png", alt="")
        .container_katalok
            ul.text-center
                li.nav-item
                    a.nav-link(href="./pug/pages/katalog.html") Каталог ножей
                li.nav-item
                    a.nav-link(href="#") Клинковое оружие
                li.nav-item
                    a.nav-link(href="#") Сувенирные изделия
                li.nav-item
                    a.nav-link(href="#") Фонари ARMYTEK
                li.nav-item
                    a.nav-link(href="#") Сопуствующие товары
        // * =============== Section-2 Jasur's ===============
        // ! Header //
        header.KnifeBg
            div.KnifeBg__TextL
                div.KnifeBg-TextL__Img
                    img(src="../img/headir/knives-pack.png", alt="")
                h4.KnifeBg-TextL__h4 Интернет магазин сертифицированных  
                h4.KnifeBg-TextL__h4-2 златоустовских ножей
                p.KnifeBg-TextL__p Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                button.KnifeBg-TextL__btn Подробнее
            div.KnifeBg-TextL__Sell
                div.KnifeBg-TextL-Sell__Card
                    img(src="../img/headir/pack/1.png", alt="")
                    p.KnifeBg-TextL-Sell-Card-P Гарантия 100% возврата
                        br 
                        span денежных средств
                div.KnifeBg-TextL-Sell__Card
                    img(src="../img/headir/pack/2.png", alt="")
                    p.KnifeBg-TextL-Sell-Card-P Доставка по России, 
                        br 
                        span Казахстану и Белоруссии
                div.KnifeBg-TextL-Sell__Card
                    img(src="../img/headir/pack/3.png", alt="")
                    p.KnifeBg-TextL-Sell-Card-P Возможность оформление 
                        br 
                        span заказа без регистрации.
                div.KnifeBg-TextL-Sell__Card.Four-IMG
                    img(src="../img/headir/pack/4.png", alt="")
                    p.KnifeBg-TextL-Sell-Card-P Скидки постоянным
                        br 
                        span покупателям. 
        // ! Header Ending //
        section.container
            div.KnifeGrid
                div.KnifeGrid__Card.h-rotate 
                    div.KnifeGrid-Card__Text
                        a(href="") Каталог ножей
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card2.h-rotate 
                    div.KnifeGrid-Card__Text
                        a(href="") Среднеклинковое оружие
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card3.h-rotate 
                    div.KnifeGrid-Card__Text
                        a(href="") Длинноклинковое оружие
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card4.h-rotate 
                    div.KnifeGrid-Card__Text
                        a(href="") Сувенирные изделия
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card5.h-rotate 
                    div.KnifeGrid-Card__Text
                        a(href="") Сопутствующие товары
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card6.h-rotate    
                    div.KnifeGrid-Card__Text
                        a(href="") Заточка и полировка ножей
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
        // * =============== Section-3 ===============
        include pug/componentss/cards.pug
        // * =============== Section-4 ===============
        include pug/componentss/section-fourth.pug
        //- include pug/componentss/cards-section-4.pug
        // * =============== Section-5 ===============
        // * =============== Section-6 ===============

        // * =============== Section-7 ===============

        // * =============== Section-8 ===============

        // * =============== Section-9 ===============

        // * =============== Section-10 ==============
        .footercontainer
            h3.chevar Златоустовские ножи интернет-магазин "ЗЛАТМАКС"
            p.paragraf Наш интернет-магазин "ЗЛАТМАКС" предлагает Вам ножи очень высокого качества из города оружейников - Златоуста. Златоустовские ножи известны и популярны среди потребителей как на российским рынке, так и за рубежом: ножи охотничьи, хозяйственные, туристические, рыбацкие, складные и метательные. Нож Златоуста - это идеальный друг и товарищ в повседневной жизни и в экстремальных ситуациях. На многую продукцию распространяется гарантия до 10 лет - это один из главных показателей качества. Для Вас на нашем сайте "zlatmax" предложен огромный ассортимент Златоустовских ножей. Наши менеджеры помогут определиться и подобрать самый лучший Златоустовский нож, ориентируясь на Ваши пожелания.
        div.beshbarmoq
                div.Hh
                    .a  
                        h3 ИНФОРМАЦИЯ
                        p Златоустовские ножи в Москве и Московской области 
                        p Ножевые стали
                        p О нас
                        p Условия оплаты доставки
                        p Политика конфиденциалaьности
                    .b 
                        h3 СЛУЖБА ПОДДЕРЖКИ
                        p Контактная информация 
                        p Возврат товара
                        p Карта сайта
                    .c 
                        h3 ДОПОЛНИТЕЛЬНО 
                        p Подарочные сертификаты
                        p Партнеры
                        p Товары со скидкой
                    .d 
                        h3 ЛИЧНЫЙ КАБИНЕТ  
                        p Личный кабинет
                        p История заказов
                        p Мои закладки
                        p Рассылка новостей
        
                div.Hh
                    .e 
                        h3  КОНТАКТЫ 
                        p 8 (800) 777-49-67
                        p Пн-Пт 7:00 - 16:00 (МСК)
                        p Златоуст, ул. Шоссейная, д. 1, офис «6Б»
                        p info@zlatmax.ru
                    .f 
                        h3 ПОЛЕЗНЫЕ ССЫЛКИ 
                        p Способы оплаты и доставки
                    .g 
                        h3 НАША ГАРАНТИЯ
                        p Недовольны своей покупкой? Вы можете вернуть ее в течении 30 дней с даты получения,согласно нашим правилам
                    .h 
                        h3  НОВОСТНАЯ РАССЫЛКА 
                        input(type="text")
                        p Я прочитал Условия соглашения и согласен с условиями 
                .j
                        img.fc(src="https://s3-alpha-sig.figma.com/img/39c0/abf2/cd087916e55dc6e380d8d99b477b67b6?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BlSuLAvMKbZ6iSutXp2f6239Avivqn7t8bpFaVyhXz5mMQf98DXDXYz2c6cI6oUOye2YOH7CXjEWMdZJxO5gFm4KYueNZYnZPRap-Ap7XMnsjRc0Vvs8tFLIV81LUsm77wFQdBOeY4EBkRlIzq8BH3p1lwlqPjz1Sszjn9DNTrx4rhRxAhXmYdgLinUd~8aSE0~5ZnvGbqBjSwKiLenG~V83VEDn3-gOM4Wtq41fjBlfpJwgVSHbRpUOXrrRwYRQ8dxVzfMhmxfm3stSmV7jyPq5LetNOsOSiqXD9tccDf1pCHJOSlfMjcWnFiWUJMN-~Xe0gLQayZoCv-Grvh81Xw__", alt="")   
                        img.tel(src="https://s3-alpha-sig.figma.com/img/da10/40a8/4e2bc0ad96d99a10b6107a1d39d618f9?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HjYiBYvac-qmLo6h6YAHL2XQXSB3OpPFtLfD7qTgFYiHtcNddDo~5T5gF4wMvSZFBaf4uJFN2K8scsiYE7U2t2JYl0a-Kj4pEZ8toHUYXEjtqA40032xWCK~kha62mTFeXV51yKQ7DlM83y-17Y4GP1evPFAEkjIqTg8Vx4~KrxQf9QP4nY1Tg-xXXfg92ybhz7niyt77uLJ3pmsRz6fVKWt2uQdNN0f6FBlsuhAv-AJvuABqF0fSndZkl9QO~udwsurfHTURQnoi1pUuUg8a2u2~jAWu4B2yGoHfMRgu6akU85EB3aVNArvB2XEJEu5NLcLXO1~KeH0cfWLWhaELg__", alt="")   
                        img.telegram(src="https://s3-alpha-sig.figma.com/img/2804/f307/82eb71566d5e4abc61eeebf7d363adfc?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hVDPMII-2iAiw55zeP5ei6hpw6c0URvBeLI9l98qG~ZBaDHT-4zfJ5QH2ebO2bUGMeeUBb57KFf7M9~YUMjH7an-~lbGfo5ALxP5KwIUTiEPb84X08np96MpsLYpmggBHJOZepSXIdObVQ5Su1628zZCrWWUV-Xb5HSXoFACzAdkhoYKeVPe8jHXCZSrltSacaL8nWD2PUZH7Qbgvi6-EQX8MPXjNMZUqIFTFNKQRFfTkgCvlpgSTJ0MFg96C06CHInP9MzB3rFGn2zBnJzMwLqBl0Jo5yg2az3mK9W7EA0yta48Of9nQooJInhlNekq4xrCoN7Rwe8OpE5ZSHVrlw__", alt="")
                        img.whatsapp(src="https://s3-alpha-sig.figma.com/img/3db9/c2fc/220566719ecb3b7b8503578e1d3a1078?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C-LtsMPFEbHY1QwO4Os5qYlJ4i4yaJOKRzSag-OTSdygBj9ndAw4u3LzKCNzuj9TrtZbMqyEscGgQ2CHTi8dUYu0sWAMe4rOFjEgtBWDJ9YWNGbc0UDp4n8KkLFQA8XlSFwAtbacdSYLRM~LzH0si6uW3f5zYG0z4DohQ4nIjYdGh0UAvYuZLHQxy7hvWmlZcc83jcWxsDdhT-GERxRIW4tST1EqocsP5TMz6Ez2qH4ybo0XQgwLhPmFwHvpnlmZd0gmwCtWUlS20QIpiS1XykvuJyqTFlU9OH2rD~kQOpuDbcuPM3TRBalJB9GZRijycEvwFGaHLGvRCtj7CMM~9w__", alt="")
                .bce 
                        p.bce Все материалы, размещенные на сайте, носят справочный характер и не являются публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации. При копировании материалов гиперссылка на www.zlatmax.ru обязательна!    
                        p.sl Златоустовские ножи www.zlatmax.ru © 