doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ножи Златоуст – Купить качественные Златоустовские ...

        // * =============== STYLE ===============
        link(rel="stylesheet", href="../scss/main.css")

        // * =============== favicon ===============
        link(rel="icon", href="https://www.zlatmax.ru/favicon.svg")

        // * =============== Bootstrap ===============
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css")

        // * =============== Montserrat FONT ===============
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
        
    body 
        // * =============== Section-1 Nodir's ===============
        section.section-1 
                nav.navbar
                    a.navbar-top(href='#') 
                        img(src="" alt=".")
                    a.navbar-top(href='#') 
                        img(src="" alt=".")
                    a.navbar-top(href='#') 
                        img(src="" alt=".")
                    a.navbar-top(href='#') 
                        img(src="" alt=".")
        // * =============== Section-2 Jasur's ===============
        .container
            div.KnifeGrid
                div.KnifeGrid__Card
                    div.KnifeGrid-Card__Text
                        a(href="") Каталог ножей
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card2
                    div.KnifeGrid-Card__Text
                        a(href="") Среднеклинковое оружие
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card3
                    div.KnifeGrid-Card__Text
                        a(href="") Длинноклинковое оружие
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card4
                    div.KnifeGrid-Card__Text
                        a(href="") Сувенирные изделия
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card5
                    div.KnifeGrid-Card__Text
                        a(href="") Сопутствующие товары
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
                div.KnifeGrid__Card6    
                    div.KnifeGrid-Card__Text
                        a(href="") Заточка и полировка ножей
                        div.KnifeGrid-Card-Text__line
                        ul.KnifeGrid-Card-Text__Kategoriy 
                            li Разделочные
                            li Туристические
                            li Oхотничьи
        // * =============== Section-3 ===============
        include pug/compilation/cards.pug
        // * =============== Section-4 ===============

        // * =============== Section-5 ===============

        // * =============== Section-6 ===============

        // * =============== Section-7 ===============

        // * =============== Section-8 ===============

        // * =============== Section-9 ===============

        // * =============== Section-10 ==============

        