@media only screen and (max-width: 600px) {
    .zlatmax__navbar{
        grid-template-columns: auto;
    }
    .text-center {
        grid-template-columns: repeat(1, 1fr);
    }
    .navbar__items{
        display: none;
    }
    .container_katalok{
        display: none !important;
    }
    .navbar__items{
        display: none !important;
    }
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
    .text-center{
        grid-template-columns: repeat(1, 1fr);
    }


}


@media only screen and (max-width: 600px) {
    .container_katalok {
        grid-template-columns: auto;
    }
}


@media only screen and (min-width: 600px) and (max-width: 900px) {
    .zlatmax__navbar {
        grid-template-columns: repeat(2, 1fr);
    }
}