.navbar__top__item{
    background-color: black;
    width: 100%;
    .nav__items__item__link{
        padding: 16px;
    }

    .nav__items__item__link:hover{
        color: rgb(255, 221, 1);
    }

    .navbar__items{
        width: max-content;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            text-decoration: none;
            color: aliceblue;
        }
    }

    .nav__items__item__avatar{
        align-items: start;
        display: flex;
        justify-content: end;
    }
}

.zlatmax__header{
    padding: 20px;
    .zlatmax__header__img{
        padding-right: 20px;
        padding: 2px;
    }
}

.zlatmax__header__search{
    width: 300px;
    height: 40px;
}