.navbar__top__item{
    background-color: black;
    width: 100%;
    .nav__items__item__link{
        padding: 16px;
    }

    .navbar__items{
        font-family: robot;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;
    
        a{
            text-decoration: none;
            color: aliceblue;
        }
        width: max-content;
        height: 30px;
        background-color: rgb(8, 0, 0);
        display: flex;
        gap: 30px;
        align-items: start;
        justify-content: space-between;
    
        .nav__items__item7{
            display: flex;
            justify-content: end !important;
        }
    }
}

.zlatmax{
    img{
        padding: 16px;
    }

    .location{
    width: 341.79px;
    height: 47px;
    top: 92px;
    left: 1134px;
    gap: 0px;
    opacity: 0px;
    }
}