doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../../../scss/main.css")
    body
        section.cards-section
            div.cards-section__items
                div.cards-section-items__subtitle
                    h2 Акции
                    div.cards-section-items__title
                        p Все акции
                        i.bi.bi-chevron-right
                div.cards-section-items__title-cards
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
        section.second-cards-section
            div.second-cards-section__items
                div.second-cards-section-items__title-cards
                    div.second-cards-section-items__title
                        h2 Новинки
                        p Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                        div.title-cards__title
                            p Больше новинок
                            i.bi.bi-chevron-right
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.second-cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.second-cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.second-cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
        section.cards-section
            div.cards-section__items
                div.cards-section-items__subtitle
                    h2 Акции
                    div.cards-section-items__title
                        p Все акции
                        i.bi.bi-chevron-right
                div.cards-section-items__title-cards
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
        section.cards-section
            div.cards-section__items
                div.cards-section-items__subtitle
                    h2 Акции
                    div.cards-section-items__title
                        p Все акции
                        i.bi.bi-chevron-right
                div.cards-section-items__title-cards
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
        section.second-cards-section
            div.second-cards-section__items
                div.second-cards-section-items__title-cards
                    div.second-cards-section-items__title
                        h2 Новинки
                        p Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                        div.title-cards__title
                            p Больше новинок
                            i.bi.bi-chevron-right
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.second-cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.second-cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.second-cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
        section.cards-section
            div.cards-section__items
                div.cards-section-items__subtitle
                    h2 Акции
                    div.cards-section-items__title
                        p Все акции
                        i.bi.bi-chevron-right
                div.cards-section-items__title-cards
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
        section.cards-section
            div.cards-section__items
                div.cards-section-items__subtitle
                    h2 Акции
                    div.cards-section-items__title
                        p Все акции
                        i.bi.bi-chevron-right
                div.cards-section-items__title-cards
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 
                    div.title-cards__subtitle
                        img.img-knife(src="../../../img/Knife/01s 1.png", alt="")
                        h3 Нож Лиса
                        div.title-cards__title
                            p 95x18
                            p Орех, Алюминий
                        div.title-cards__title
                            div
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                                i.bi.bi-star-fill
                            p 12 отзывов
                        hr
                        div.title-cards__title
                            h3 2 719 р.
                            div 
                                img(src="../../../img/Stars/Group.png", alt="")
                                i.bi.bi-heart
                        div.cards-section-items__btn-card
                            p В корзину
                            i.bi.bi-cart3 


