doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../../../scss/main.css")
        title Document
    body 
        section.product 
            div.product-section   
                div
                    p Главная
                div 
                    img(src="../../../img/Knife/knife-7.png", alt="")
                div 
                    p Разделочные ножи
                div 
                    img(src="../../../img/Knife/knife-7.png", alt="")
                div 
                    p Нож Снегирь
            div.product__item
                div.product__item-img
                    img.img-1(src="../../../img/Knife/knife-8.png", alt="")
                    img.img-2(src="../../../img/Knife/knife-9.png", alt="")
                    img.img-2(src="../../../img/Knife/knife-10.png", alt="")
                    img.img-2(src="../../../img/Knife/knife-11.png", alt="")
                    img.img-3(src="../../../img/Knife/knife-12.png", alt="")
                div.product__item-content
                    div.product__item-content__title
                        div 
                            h1 Нож Снегирь
                        div.product__item-content__title__icons 
                            img(src="../../../img/Knife/knife-13.png", alt="")
                            img(src="../../../img/Knife/knife-13.png", alt="")
                            img(src="../../../img/Knife/knife-13.png", alt="")
                            img(src="../../../img/Knife/knife-13.png", alt="")
                            img(src="../../../img/Knife/knife-13.png", alt="")
                        div 
                            img(src="../../../img/Stars/Group.png", alt="")
                        div 
                            img(src="../../../img/stars/hearts.png", alt="")
                    div.product__item-content__paragraf 
                        p В наличии
                    div.product__item-content__grid 
                        div.product__item-content__grid-item
                            p Артикул:
                            p Торговая марка:
                            p Серия:
                            p Бонусные баллы: 
                        div.product__item-content__grid-content
                            p AF0000001952
                            p WUESTHOF (Германия)
                            p Ножи серии Classic Ikon
                            p 38
                    div.product__item-content__flex 
                        div.product__item-content__flex-first 
                            p Сталь
                            p Рукоять
                            p Гарда и тыльник
                            p Обработка клинка
                        div.product__item-content__flex-second
                            div 
                                input(type="text" placeholder="Выбрать сталь")
                            div 
                                input(type="text" placeholder="Выбрать рукоять")
                            div 
                                input(type="text" placeholder="Выбрать гарда и тыльник")
                            div 
                                input(type="text" placeholder="Выбрать обработку клинка")
                    div.product__item-content__block 
                        div
                            h1 3 865
                        div 
                            img(src="../../../img/Knife/knife-16.png", alt="")      
                        div 
                            p + 449 баллов за покупку
                    div.product__item-content__button 
                        div.product__item-content__button-first 
                            button -
                        div.product__item-content__button-second 
                            p 1
                        div.product__item-content__button-first
                            button +
                        div.product__item-content__button-four
                            button В корзину 
                        div.product__item-content__button-five
                            button Купить в 1 клик